# Data Quality Check

---

In [1]:
# --- Imports ---
import pandas as pd
import numpy as np

In [2]:
# --- Load data ---
file_path = "../Data/Covid_19_dataset.csv"
df = pd.read_csv(file_path)

## Quick look
Preview of the first rows to confirm the structure of the dataset.

---

In [4]:
# ## Quick look
df.head()

,index,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,hosp_patients,...,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,population,median_age,gdp_per_capita,life_expectancy,latitude,longitude
0,0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,64.83,33.0,65.0
1,1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,64.83,33.0,65.0
2,2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,64.83,33.0,65.0
3,3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,64.83,33.0,65.0
4,4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,64.83,33.0,65.0

## Overview
General information and descriptive statistics for all columns.

---

In [9]:
df.describe(include="all")

,index,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,hosp_patients,...,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,population,median_age,gdp_per_capita,life_expectancy,latitude,longitude
count,180477.000000,180477,180477,180477,180477,1.734930e+05,1.732120e+05,1.553230e+05,155095.000000,27152.000000,...,4.385100e+04,4.152400e+04,1.986600e+04,3.694000e+04,1.804770e+05,159326.000000,157994.000000,179426.000000,180477.000000,180477.000000
unique,NaN,226,6,226,900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,ARG,Africa,Argentina,2021-08-29,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,900,45193,900,225,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,93968.446456,NaN,NaN,NaN,NaN,8.748229e+05,3.101972e+03,1.710981e+04,40.445520,4181.064783,...,2.179711e+07,1.819041e+07,7.832295e+06,2.700264e+05,3.742698e+07,30.594091,19662.412111,73.598154,19.549747,15.962622
std,54582.966489,NaN,NaN,NaN,NaN,4.089686e+06,1.857492e+04,6.695245e+04,183.352225,11240.365676,...,8.432862e+07,7.110029e+07,2.621294e+07,1.191714e+06,1.442989e+08,9.081572,20679.185182,7.489226,24.280600,68.153682
min,0.000000,NaN,NaN,NaN,NaN,1.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,...,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,4.700000e+01,15.100000,661.240000,53.280000,-51.750000,-176.200000
25%,47611.000000,NaN,NaN,NaN,NaN,2.608000e+03,0.000000e+00,9.100000e+01,0.000000,152.000000,...,4.147615e+05,3.199945e+05,3.653900e+04,4.007500e+03,8.884560e+05,22.200000,4449.898000,69.500000,5.000000,-15.000000
50%,92730.000000,NaN,NaN,NaN,NaN,3.070300e+04,5.400000e+01,7.970000e+02,1.000000,764.500000,...,2.743372e+06,2.244652e+06,9.948435e+05,2.493800e+04,6.871547e+06,29.900000,12951.839000,75.050000,18.250000,18.500000
75%,140370.000000,NaN,NaN,NaN,NaN,3.041460e+05,7.330000e+02,6.461500e+03,12.000000,2956.250000,...,1.232842e+07,9.682117e+06,5.457455e+06,1.249542e+05,2.588704e+07,39.100000,27936.896000,79.190000,40.000000,47.658100
max,190612.000000,NaN,NaN,NaN,NaN,8.623098e+07,1.383898e+06,1.013377e+06,4529.000000,154540.000000,...,1.290836e+09,1.257199e+09,7.799770e+08,2.474100e+07,1.444216e+09,48.200000,116935.600000,86.750000,72.000000,178.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180477 entries, 0 to 180476
Data columns (total 24 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   index                    180477 non-null  int64
 1   iso_code                 180477 non-null  object
 2   continent                180477 non-null  object
 3   location                 180477 non-null  object
 4   date                     180477 non-null  object
 5   total_cases              173493 non-null  float64
 6   new_cases                173212 non-null  float64
 7   total_deaths             155323 non-null  float64
 8   new_deaths               155095 non-null  float64
 9   hosp_patients            27152 non-null   float64
 10  total_tests              78326 non-null   float64
 11  new_tests                74509 non-null   float64
 12  tests_per_case           92600 non-null   float64
 13  total_vaccinations       46366 non-null   float64
 14  people_vaccinated        43851 non-null   float64
 15  people_fully_vaccinated  41524 non-null   float64
 16  total_boosters           19866 non-null   float64
 17  new_vaccinations         36940 non-null   float64
 18  population               180477 non-null  float64
 19  median_age               159326 non-null  float64
 20  gdp_per_capita           157994 non-null  float64
 21  life_expectancy          179426 non-null  float64
 22  latitude                 180477 non-null  float64
 23  longitude                180477 non-null  float64
dtypes: float64(19), int64(1), object(4)
memory usage: 33.0+ MB

## Duplicates
Check for fully duplicated rows.

---

In [6]:
# ## Duplicates
dup_rows = df.duplicated().sum()
print("Duplicate rows:", dup_rows)

Duplicate rows: 0

In [11]:
# ## Duplicates by iso_code + date
dup_key = df.duplicated(subset=["iso_code", "date"]).sum()
print("Rows with duplicated iso_code + date:", dup_key)

if dup_key > 0:
    display(df[df.duplicated(subset=["iso_code", "date"], keep=False)]
            .sort_values(["iso_code", "date"]))

Rows with duplicated iso_code + date: 0

## Sanity checks

We perform basic logical validations to confirm data consistency:
- Key numeric columns (cases, deaths, tests, vaccinations, population) contain no negative values.
- Latitude values fall within [-90, 90] and longitude within [-180, 180].
- The `date` column can be safely converted to datetime without errors.

In [12]:
# ## Sanity checks

# Non-negative values check (for key numeric columns)
num_cols = ["total_cases", "new_cases", "total_deaths", "new_deaths",
            "hosp_patients", "total_tests", "new_tests",
            "total_vaccinations", "people_vaccinated", "people_fully_vaccinated",
            "total_boosters", "new_vaccinations", "population"]

for col in num_cols:
    negatives = (df[col] < 0).sum()
    if negatives > 0:
        print(f"Column {col} has {negatives} negative values")
    else:
        print(f"Column {col} OK (no negatives)")

# Latitude and longitude range
print("Latitude out of range:", ((df["latitude"] < -90) | (df["latitude"] > 90)).sum())
print("Longitude out of range:", ((df["longitude"] < -180) | (df["longitude"] > 180)).sum())

# Date parsing
df["date"] = pd.to_datetime(df["date"], errors="coerce")
print("Invalid dates:", df["date"].isna().sum())

Column total_cases OK (no negatives)
Column new_cases OK (no negatives)
Column total_deaths OK (no negatives)
Column new_deaths OK (no negatives)
Column hosp_patients OK (no negatives)
Column total_tests OK (no negatives)
Column new_tests OK (no negatives)
Column total_vaccinations OK (no negatives)
Column people_vaccinated OK (no negatives)
Column people_fully_vaccinated OK (no negatives)
Column total_boosters OK (no negatives)
Column new_vaccinations OK (no negatives)
Column population OK (no negatives)
Latitude out of range: 0
Longitude out of range: 0
Invalid dates: 0

## Completeness
Count missing values per column and calculate their percentage.

In [7]:
# ## Completeness
total_rows = len(df)
completeness = pd.DataFrame({
    "non_null": df.notna().sum(),
    "null": df.isna().sum()
})
completeness["null_%"] = (completeness["null"] / total_rows) * 100

print("Total rows:", total_rows)
completeness.sort_values("null_%", ascending=True)

Total rows: 180477

                         non_null    null     null_%
index                      180477       0   0.000000
iso_code                   180477       0   0.000000
continent                  180477       0   0.000000
location                   180477       0   0.000000
date                       180477       0   0.000000
latitude                   180477       0   0.000000
longitude                  180477       0   0.000000
population                 180477       0   0.000000
life_expectancy            179426    1051   0.582346
total_cases                173493    6984   3.869745
new_cases                  173212    7265   4.025444
median_age                 159326   21151  11.719499
gdp_per_capita             157994   22483  12.457543
total_deaths               155323   25154  13.937510
new_deaths                 155095   25382  14.063842
tests_per_case              92600   87877  48.691523
total_tests                 78326  102151  56.600564
new_tests                   74509  105968  58.715515
total_vaccinations          46366  134111  74.309192
people_vaccinated           43851  136626  75.702721
people_fully_vaccinated     41524  138953  76.992082
new_vaccinations            36940  143537  79.532018
hosp_patients               27152  153325  84.955424
total_boosters              19866  160611  88.992503

## Summary
The dataset passed all quality checks:
- No full-row or key (`iso_code + date`) duplicates were found.  
- Missing data is concentrated in testing, hospitalization, and vaccination-related columns.  
- Sanity checks showed no structural issues (no negatives, valid coordinates, valid dates).  

The dataset is ready for further analysis and visualization.